[Desktop Entry]
Type=Service
Name=Images (FLIF)
Name[ar]=الصّور (FLIF)
Name[ast]=Imáxenes (FLIF)
Name[bg]=Изображения (FLIF)
Name[bn]=ছবি (FLIF)
Name[bs]=Slike (FLIF)
Name[ca]=Imatges (FLIF)
Name[ca@valencia]=Imatges (FLIF)
Name[cs]=Obrázky (FLIF)
Name[da]=Billeder (FLIF)
Name[de]=Bilder (FLIF)
Name[el]=Εικόνες (FLIF)
Name[en_GB]=Images (FLIF)
Name[eo]=Bildoj (FLIF)
Name[es]=Imágenes (FLIF)
Name[et]=Pildid (FLIF)
Name[eu]=Irudiak (FLIF)
Name[fa]=تصاویر (FLIF)
Name[fi]=Kuvat (FLIF)
Name[fr]=Images (FLIF)
Name[ga]=Íomhánna (FLIF)
Name[gl]=Imaxes (FLIF)
Name[gu]=ચિત્રો (FLIF)
Name[he]=תמונות (FLIF)
Name[hi]=छवियाँ (FLIF)
Name[hr]=Slike (FLIF)
Name[hu]=Képek (FLIF)
Name[ia]=Imagines (FLIF)
Name[id]=Gambar (FLIF)
Name[is]=Myndir (FLIF)
Name[it]=Immagini (FLIF)
Name[ja]=画像 (FLIF)
Name[ka]=გამოსახულებები (FLIF)
Name[kk]=Кескіндер (FLIF)
Name[km]=រូបភាព (FLIF)
Name[kn]=ಚಿತ್ರಗಳು,(FLIF)
Name[ko]=그림 (FLIF)
Name[lt]=Vaizdai (FLIF)
Name[lv]=Attēli (FLIF)
Name[mai]=चित्र (FLIF)
Name[mr]=प्रतिमा (FLIF)
Name[nb]=Bilder (FLIF)
Name[nds]=Biller (FLIF)
Name[nl]=Afbeeldingen (FLIF)
Name[nn]=Bilete (FLIF)
Name[pa]=ਚਿੱਤਰ (FLIF)
Name[pl]=Obrazy (FLIF)
Name[pt]=Imagens (FLIF)
Name[pt_BR]=Imagens (FLIF)
Name[ro]=Imagini (FLIF)
Name[ru]=Изображения (FLIF)
Name[si]=පින්තූර (FLIF)
Name[sk]=Obrázky (FLIF)
Name[sl]=Slike (FLIF)
Name[sr@ijekavianlatin]=Slike (FLIF)
Name[sr@latin]=Slike (FLIF)
Name[sv]=Bilder (FLIF)
Name[tg]=Тасвирҳо (FLIF)
Name[th]=แฟ้มภาพต่าง ๆ (FLIF)
Name[tr]=Resimler (FLIF)
Name[ug]=سۈرەتلەر (FLIF)
Name[uk]=Зображення (FLIF)
Name[vi]=Ảnh (FLIF)
Name[wa]=Imådjes (FLIF)
Name[x-test]=xxImages (FLIF)xx
Name[zh_CN]=图像 (FLIF)
Name[zh_TW]=影像（FLIF）
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/x-flif;
X-KDE-Library=imagethumbnail
CacheThumbnail=true
